
 
div.preview_article_basket_style {
    padding: 2px;
    width:100%;
    background-color: rgb(255, 255, 255); 
    margin: 5px;
    border-radius: 0px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
 }
